header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: linear-gradient(
    to right,
    #bc3520,
    #bc3520 70%,
    #bc3520 71%,
    #bc3520 97%,
    #de2614 100%
  );
  #tituloContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    background-color: #f0351c;
    width: 300px;
    border-radius: 50px;
    height: 50px; 
    border:solid 3px #e94126;
    padding: 0 5px;
    margin-left: 1%;
    img{
      height: 40px;
    }
    h1{
      color:#fff;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1.9rem;
      -webkit-text-stroke: 2px #c92815;

    }
  }

.form-inline{
  margin-right: 100%;
}

}

.search-container{
  width: 490px;
  display: block;
  margin: 0 auto;
}

input#search-bar{
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  margin-top:80px;
  left: -20%;
  &:focus{
    border: 1px solid #000000;
    transition: 0.35s ease;
    color: #000000;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: 80px;
  right: -45px;
}





